body {
  border: 20px solid #bdc3c7;
  margin: 20px auto;
  width: 80%;
  min-width: 300px;
  padding: 50px;
}

.menu {
  position: relative;
  display: inline-block;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 5px solid powderblue;
  margin-right: 2px;
  margin-left: 20px;
  font-family: courier new;
  text-align: right;
  font-size: 15px;
}

@media only screen and (min-width: 320px)and (max-width: 800px) {
    .menu {
       margin-right:100px;
    }
}


section {
  max-width:800px;
  min-width: 300px;
  margin: 20px auto;
  border:5px solid powderblue;
  padding-left: 5px;
  padding-right: 5px;
}


h1 {
  font-family: courier new;
  text-align: center;
  letter-spacing: 0.3rem;
  background-image: url(atlas.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 50%;
  margin-left: 60px;
}

@media only screen and (min-width: 320px)and (max-width: 800px) {
     h1{
        width: 60%;
        margin-top: 150px;
    }
}

h2 {
  font-family: courier new;
  border-left: 6px solid grey;
  margin-left: 20px;
  padding-left: 2px;
}

h4 {
  font-family: Trebuchet MS;
}

fieldset {
  font-family: Trebuchet MS;
}

.subtitle {
  text-align: center;
}

a:link {
  color:navy blue;
}

a:visited {
  color:powderblue;
}

p {
  font-family: Trebuchet MS;
}

#DR img {
  position: relative;
  display: inline-block;
  float: left;
  max-width: 100%;
  height:auto;
  margin: 20px auto;
}

#ecuador img {
  position: relative;
  display: inline-block;
  float: left;
  max-width: 100%;
  height:auto;
  margin: 20px auto;
}

#brazil img {
  position: relative;
  display: inline-block;
  float: left;
  max-width: 100%;
  height:auto;
  margin: 20px auto;
}

#colombia img {
  position: relative;
  display: inline-block;
  float: left;
  max-width: 100%;
  height:auto;
  margin: 20px auto;
}
